.all-feed-page {
    background-color: lightgrey;
}

.ques-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ask-question-container {
    border: 10px solid rgb(213, 213, 213);
    background-color: white;
    margin-right: 5px;
    border-radius: 5px;
}

.text-field-modal {
    height: 45px;
    width: 600px;
    margin-left: 100px;
    margin-right: 97px;
    margin-bottom: 25px;
    margin-top: -60px;
    border-radius: 2rem;
    background-color: lightgray;
    border-color: white;
}

.ques-profile-img {
    margin-top: 15px;
    margin-bottom: -40px;
margin-left: 25px;
}

.feed-content {
    /* box-sizing: initial;
    display: flex;
    flex-direction: column;
    align-items: center; */
    display: inline-block;
    box-sizing: initial;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
    padding-bottom: 0px;
    /* align-items: stretch; */
}

.question-form {
    display: flex;
    justify-content: center;
    margin-left: 900px;
}

.feed-list {
    margin-top: -450px;
}

.q-list {
    display: block;
    flex-direction: column;
    padding: 20px;
    /* margin: 10px; */
    margin-top: 30px;
    margin-left: 450px;
    margin-right: -400px;
    border: 2px solid rgb(213, 213, 213);
    border-radius: 5px;
    background-color: white;
}

.topic-content {
    display: inline-block;
    position: sticky;
    top: 150px;
    height: 500px;
    overflow: auto;
    padding-bottom: 150px;
    padding-right: 100px;
    margin-left: 200px;
}

.topic-header {
    text-align: center;
    margin-top: 50px;
    margin-left: 65px;
    margin-bottom: -10px;
}

.topic-name {
    padding-top: 40px;
    margin-left: 30px;
    margin-right: -30px;
    font-size: 20px;
}

.username-profile {
    display: flex;
    justify-content: space-between;
}

.profile-img {
    /* display: flex; */
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.user-image-name {
    display: flex;
}

.username {
    padding-left: 10px;
    padding-bottom: 15px;
}

.post-topic {
    position: inherit;
    text-align: right;
}

.question {
    display: flex;
    padding-top: 15px;
    font-size: 25px;
    font-weight: bold;
}

.description {
    color: black;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post-image {
    margin-bottom: 15px;
    text-align: center;
}

.img-post {
    box-sizing: border-box;
    width: 105.3%;
    margin-left: -20px;
    height: 450px;
}

.ques-btn {
    box-sizing: border-box;
    transition-property: box-shadow;
    transition-duration: 250ms;
}
.answer-icon-btn {
    margin-top: -10px;
    margin-bottom: -10px;
    height: 35px;
    width: 35px;;
}


.icon-btns {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;

}

.icon-text {
    margin-left: 120px;
    margin-right: 120px;
}

.ask-icon-btn {
    margin-top: -10px;
    margin-bottom: -10px;
    padding-right: 10px;
    height: 35px;
    width: 35px;;
}
.answer-icon-button {
    margin-top: -10px;
    margin-bottom: -10px;
    padding-right: 10px;
    height: 35px;
    width: 35px;;
}


.answer-count {
    padding-left: 10px;
    font-size: 20px;

}
a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
